<h2><%= t('clubs.finances.last_round') %></h2>
<% unless finances.nil? %>
  <%= render :partial => '/clubs/finances/benefits',
    :locals => {:finances => finances} %>
  <%= render :partial => '/clubs/finances/pays',
    :locals => {:finances => finances} %>
  <%= render :partial => '/clubs/finances/balance',
    :locals => {:finances => finances} %>
<% else %>
	<%= t('none') %>
<% end %>