<table class="table-incomes table table-striped table-condensed">
  <thead>
    <tr>
      <th>
        <%= t('concept_table') %>
      </th>
      <th>
        <%= t('amount_table') %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% ClubFinancesRound::BENEFITS.each do |b| %>
    <tr>
      <td><span class="badge badge-info"><%= t(b)%></span></td>
      <td><span class="badge badge-success"><%= number_to_currency(finance[b]) %></span></td>
    </tr>
    <% end %>
  </tbody>
  <tbody class="total">
    <tr>
      <th>Total</th>
      <td><span class="badge badge-success"><%= number_to_currency(finance.all_benefits)%></span></td>
    </tr>
  </tbody>
</table>
