<div class="team-offer">
	<div class="row">
		<div class="span12">
			<h2><%= t('players.tactic') %></h2>
		</div>
	</div>
	<div class="row tactic-image">
		<div class="span12">
			<%= tactic(team) %>
		</div>
	</div>
	<div class="row tactic-title">
		<h3 class="span12">
			<%= team.tactic %>
		</h3>
	</div>
  <div class="row">
    <div class="span12">
      <h2>
        <%= t('players.starters') %>
      </h2>
    </div>
  </div>
  <%= render :partial => '/clubs/team/players_offer',
  :locals => {:players => team.starters} %>
  <div class="row">
    <div class="span12">
      <h2><%= t('players.suppliers') %></h2>
    </div>
  </div>
  <%= render :partial => '/clubs/team/players_offer', :locals =>
  {:players => team.suppliers} %>
</div>