<div class="team-open">
  <%= t('players.average') %> <%= @club.starters_average %>
  <%= t('players.tactic') %>
  <%= render :partial => '/clubs/tactics_change', :locals => {:tactic => team.tactic}  %>
  <%= form_for :replace, :url => replace_club_path(team), :html =>
  {:method => :put} do |f| %>
  <%= t('players.starters') %>
  <%= render :partial => '/clubs/team/players_replace',
  :locals => {:players => team.starters} %>
  <%= t('players.suppliers') %>
  <%= render :partial => '/clubs/team/players_replace', :locals =>
  {:players => team.suppliers} %>
  <%= f.submit t('clubs.team.replace'), :class => 'btn btn-primary' %>
  <% end %>
</div>