<div class="team-closed">
  <%= t('players.average') %> <%= @club.starters_average %>
  <%= t('players.tactic') %>
  <%= render :partial => '/clubs/tactics', :locals => {:tactic => team.tactic} %>
  <%= t('players.starters') %>
  <%= render :partial => '/clubs/team/players_offer',
  :locals => {:players => team.starters} %>
  <%= t('players.suppliers') %>
  <%= render :partial => '/clubs/team/players_offer', :locals =>
  {:players => team.suppliers} %>
</div>