<table class="table table-striped table-condensed total-pays">
	<thead>
		<tr>
			<th><%= t('concept') %></th>
			<th><%= t('amount') %></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span class="badge badge-info"><%= t('salaries') %>
				</span></td>
			<td><span class="badge badge-important"><%= number_to_currency(club.pays_players_week)%>
				</span></td>
		</tr>
		<tr>
			<td><span class="badge badge-info"><%= t('stadium_maintenance') %>
				</span></td>
			<td><span class="badge badge-important"><%= number_to_currency(club.pays_maintenance) %>
				</span></td>
		<% if !finance.nil? && finance.pays_transfers > 0 %>
		</tr>
			<td><span class="badge badge-info"><%= t('pays_transfers') %>
				</span></td>
			<td><span class="badge badge-important"><%= number_to_currency(finance.pays_transfers) %>
				</span></td>
		</tr>
		<% end %>
	</tbody>
	<tbody class="total">
		<tr>
			<th>Total
			</th>
			<% if !finance.nil?  %>
			<td><span class="badge badge-important"><%= number_to_currency(club.pays_maintenance + club.pays_players_week) %>
			</span></td>
			<% else %>
			<td><span class="badge badge-important"><%= number_to_currency(club.pays_maintenance + club.pays_players_week + finance.pays_transfers) %>
			</span></td>
			<% end %>
		</tr>
	</tbody>
</table>