<div class="row">
	<div class="span8"><h1><%= @club.name %></h1></div>
	<div class="span4 pull-right cash"><h1><%= cash(@club.cash) %></h1></div>
</div>
<div class="finances">
	<ul class="nav nav-tabs" id="finances-tab">
		<% if params[:ticket_price].nil? %>
		<li class="active">
		<% else %>
		<li>
		<% end %>
			<a href="#pays"  data-toggle="tab"><%= t('.pays.header') %></a>
		</li>
		<li>
			<a href="#incomes" data-toggle="tab"><%= t('.benefits.header') %></a>
		</li>
		<li>
			<a href="#balance" data-toggle="tab"><%= t('.balance') %></a>
		</li>
		<% if @open_teams %>
		<% if params[:ticket_price].nil? %>
		<li>
		<% else %>
		<li class="active">
		<% end %>
			<a href="#set-price" data-toggle="tab"><%= t('.set_price_ticket') %></a>
		</li>
		<% end %>
	</ul>
	<div class="tab-content">
		<% if params[:ticket_price].nil? %>
		<div class="tab-pane active" id="pays">
		<% else %>
		<div class="tab-pane" id="pays">
		<% end %>
			<div class="row">
				<h2 class="span12"><%= t('.pays.players')%></h2>
			</div>
			<div class="offset3 span6">
				<%= render :partial => 'players_pays', :locals => {:players => @players, :club => @club} %>
			</div>
			<div class="row">
				<h2 class="span12"><%= t('stadium_maintenance') %></h2>
			</div>
			<div class="offset3 span6">
				<%= render :partial => 'stadium_pay', :locals => {:club => @club} %>
			</div>
			<div class="row">
				<h2 class="span12"><%= t('.pays.total') %></h2>
			</div>
			<div class="offset3 span6">
				<%= render :partial => 'total_pays', :locals => {:club => @club} %>
			</div>
		</div>
		<div class="tab-pane" id="incomes">
			<% if @last_finance.nil? %>
				<%= t('none') %>
			<% else %>
			<div class="offset3 span6">
				<%= render :partial => 'incomes', :locals => {:finance => @last_finance} %>
			</div>
			<% end %>
		</div>
		<div class="tab-pane" id="balance">
			<% if @last_finance.nil? %>
				<%= t('none') %>
			<% else %>
			<div class="offset3 span6">
				<%= render :partial => 'balance', :locals => {:finance => @last_finance} %>
			</div>
			<% end %>
		</div>
		<% if @open_teams %>
		<% if !params[:ticket_price].nil? %>
		<div class="tab-pane active" id="set-price">
		<% else %>
		<div class="tab-pane" id="set-price">
		<% end %>
			<div class="row">
				<div class="offset4 span4">
					<%= render :partial => 'change_price_ticket', :locals => {:club => @club} %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>