<div class="row">
	<div class="span8"><h1><%= @club.name %></h1></div>
	<div class="span4 pull-right cash"><h1><%= cash(@club.cash) %></h1></div>
</div>
<div class="offers">
	<h2><%= t('clubs.offers.pending').pluralize %> </h2>
	<% if @offers.pending.count > 0 %>
		<%= render :partial => 'offers', :locals => {:offers => @offers.pending, :user => :buyer} %>
	<% else %>
		<%= t('none') %>
	<% end %>
	<h2><%= t('clubs.offers.transfered').pluralize %></h2>
	<% if @offers.transfered.count > 0 %>
		<%= render :partial => 'offers', :locals => {:offers => @offers.transfered, :user => :buyer} %>
	<% else %>
		<%= t('none') %>
	<% end %>
	<h2><%= t('clubs.offers.accepted').pluralize %> </h2>
	<% if @offers.accepted.count > 0 %>
		<%= render :partial => 'offers', :locals => {:offers => @offers.accepted, :user => :buyer} %>
	<% else %>
		<%= t('none') %>
	<% end %>
	<h2><%= t('clubs.offers.rejected').pluralize %> </h2>
	<% if @offers.rejected.count > 0 %>
	<%= render :partial => 'offers', :locals => {:offers => @offers.rejected, :user => :buyer} %>
	<% else %>
		<%= t('none') %>
	<% end %>
</div>