<% if !current_user %>
<div class="marketing">
  <h1><%= t('welcome')%></h1>
  <p class="marketing-byline"><%= t('marketing_phrase') %></p>
  <div class="row">
    <div class="offset4 span4">
      <%= image_tag('logo.png') %>
    </div>
  </div>
  <hr class="soften">
</div>
<% end %>
<% if current_user && !current_user.club?  && !current_user.admin?%>
<div class="marketing">
  <h1><%= t('no_team')%></h1>
  <p class="marketing-byline"><%= t('take_it_easy')%>.</p>
  <div class="row">
    <div class="offset4 span4">
      <%= image_tag('logo.png') %>
    </div>
  </div>
  <hr class="soften">
</div>
<% end %>
<% if League.in_play? %>
<div class="in-play">
  <%= image_tag("in_play.gif") %>
  <div class="countdown">
    <span class="seconds"></span>
    <span><%= t('reload') %></span>
  </div>
</div>
<% end %>
<% @seasons.each do |season| %>
  <div class="row">
    <div class="span12">
      <h1> <%= number_to_ordinal(season.league.category) + " #{ t('defaults.division').capitalize}" %></h1>
    </div>
  </div>
  <div class="row season-<%= season.id %>">
    <div class="span8">
      <%= render :partial => "/seasons/season", :locals => {:season => season} %>
    </div>
    <% if season.round_actual? %>
      <div class="span4">
        <%= render :partial => "rounds/round", :locals => {:round => season.round_actual} %>
      </div>
    <% end %>
  </div>
<% end %>