<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= t('players.position') %></th>
      <th><%= t('players.name') %></th>
      <th><%= t('players.surname') %></th>
      <th><%= t('players.speed') %></th>
      <th><%= t('players.resistance') %></th>
      <th><%= t('players.dribbling') %></th>
      <th><%= t('players.kick') %></th>
      <th><%= t('players.pass') %></th>
      <th><%= t('players.recovery') %></th>
      <th><%= t('players.goalkeeper') %></th>
      <th><%= t('players.quality') %></th>
      <th><%= t('players.goals')%></th>
      <th><%= t('players.pay') %></th>
      <th><%= t('players.clause') %></th>
      <% if League.open_teams? %><th><%= t('players.offer') %></th><% end %>
    </tr>
  </thead>
  <tbody>
    <% players.each do |player| %>
    <tr id="player-<%= player.id %>">
      <td><span class="badge badge-info"><%=h player.tactic_position %></span></td>
      <td><span class="badge badge-important"><%=h player.name %></span></td>
      <td><span class="badge badge-important"><%=h player.surname %></span></td>
      <td><span class="badge badge-success"><%=h player.speed %></span></td>
      <td><span class="badge badge-success"><%=h player.resistance %></span></td>
      <td><span class="badge badge-success"><%=h player.dribbling %></span> </td>
      <td><span class="badge badge-success"><%=h player.kick %></span></td>
      <td><span class="badge badge-success"><%=h player.pass %></span></td>
      <td><span class="badge badge-success"><%=h player.recovery %></span></td>
      <td><span class="badge badge-success"><%=h player.goalkeeper %></span></td>
      <td><span class="badge badge-success"><%=h player.quality %></span></td>
      <td><span class="badge badge-success"><%=h player.goals %></span></td>
      <td><span class="badge badge-success"><%=h number_to_currency(player.pay) %></span></td>
      <td><span class="badge badge-success"><%=h number_to_currency(player.clause) %></span></td>
      <% if League.open_teams? %>
      <td>
        <% unless current_user.nil? or current_user.admin? or @club_user == @club or @club_user.nil? %>
        <% if @club_user.offers_as_buyer.pending.where(:player_id => player.id).first == nil or @club_user.offers_as_buyer.pending.where(:player_id =>  player.id).first.player_id != player.id %>
        <%= link_to t('clubs.offers.make_offer'),
        make_offer_club_path(:club_id => player.club.id, :player_id => player.id),
        :method => :post %>
        <% else %>
        <%= link_to t('clubs.sent_offers.header'), sent_offers_club_path(@club_user) %>
        <% end %>
        <% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
