<table class="table table-striped table-condensed table-bordered">
  <thead>
    <tr>
      <th><%= t('players.position') %></th>
      <th><%= t('players.name') %></th>
      <th><%= t('players.surname') %></th>
      <th><%= t('players.speed') %></th>
      <th><%= t('players.resistance') %></th>
      <th><%= t('players.dribbling') %></th>
      <th><%= t('players.kick') %></th>
      <th><%= t('players.pass') %></th>
      <th><%= t('players.recovery') %></th>
      <th><%= t('players.goalkeeper') %></th>
      <th><%= t('players.quality') %></th>
      <th><%= t('players.quality_tactic') %></th>
      <th><%= t('players.goals')%></th>
      <th><%= t('players.pay') %></th>
      <th><%= t('players.clause') %></th>
    </tr>
  </thead>
  <tbody>
    <% players.each do |player| %>
    <tr id="player-<%= player.id %>">
      <td><span class="badge badge-info"><%=h player.tactic_position %></span></td>
      <td><span class="badge badge-important"><%=h player.name %></span></td>
      <td><span class="badge badge-important"><%=h player.surname %></span></td>
      <td><span class="badge badge-success"><%=h player.speed %></span></td>
      <td><span class="badge badge-success"><%=h player.resistance %></span></td>
      <td><span class="badge badge-success"><%=h player.dribbling %></span></td>
      <td><span class="badge badge-success"><%=h player.kick %></span> </td>
      <td><span class="badge badge-success"><%=h player.pass %></span></td>
      <td><span class="badge badge-success"><%=h player.recovery %></span></td>
      <td><span class="badge badge-success"><%=h player.goalkeeper %></span></td>
      <td><span class="badge badge-success"><%=h player.quality %></span></td>
      <td><span class="badge badge-success"><%=h player.average_qualities_tactic %></span></td>
      <td><span class="badge badge-success"><%=h player.goals %></span></td>
      <td><span class="badge badge-success"><%=h number_to_currency(player.pay) %></span></td>
      <td><span class="badge badge-success"><%=h number_to_currency(player.clause) %>
          <%= radio_button("replacement", "player1", player.id, :class => 'substitution substitution-player1') %>
          <%= radio_button("replacement", "player2", player.id, :class => 'substitution substitution-player2') %></span>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
