<% if commentarie.minute  <= commentarie.match.minute %>
<tr>
  <td>
    <%= commentarie.minute %>
  </td>
  <td class="action">
  	<% if commentarie.action == "action.goal" %>
  		<%= image_tag('goal.png') %>
  	<% end %>
    <%= commentarie.player.complete_name %>
    <%= t('action.from') %>
    <%= commentarie.club.name %>
    <%= t(commentarie.action) %>
  </td>
</tr>
<% end %>