<% if commentarie.minute  <= @minute %>
<tr>
  <td>
    <%= commentarie.minute %>
  </td>
  <td class="action">
  	<% if commentarie.action == "action.goal" %>
  		<%= image_tag('goal.png') %>
  	<% end %>
    <%= commentarie.player_string %>
    <%= t('action.from') %>
    <%= commentarie.club_string %>
    <%= t(commentarie.action) %>
  </td>
</tr>
<% end %>