<% if @in_play %>
<div class="in-play">
  <%= image_tag("in_play.gif") %>
  <div class="countdown">
    <span class="seconds"></span>
    <span><%= t('reload') %></span>
  </div>
</div>
<% end %>
<table class="match-information table table-striped">
  <thead>
    <tr class="teams">
      <th>
      <%= link_to h(@local.name), team_club_path(@local), :class => 'label label-success' %> | <%= @local.starters_average %></th>
      <th>
      <%=  link_to h(@guest.name), team_club_path(@guest), :class => 'label label-success' %> | <%= @guest.starters_average %></th>
    </tr>
   <tr>
    <tr class="goals">
      <th>
      <% if @finished || @in_play %>
      <span class="badge badge-important"><%= h(@match_general.local_goals_live) %></span>
      <% end %>
      </th>
      <th>
      <% if @finished || @in_play %>
         <span class="badge badge-important"><%= h(@match_general.guest_goals_live) %></span>
       <% end %>
      </th>
    </tr>
      <th>
        <%= render :partial => 'team_starters', :locals => {:players => @local.line_up_starters(@match_general)} %>
      </th>
      <th>
        <%= render :partial => 'team_starters', :locals => {:players => @guest.line_up_starters(@match_general)} %>
      </th>
    </tr>
    <% if @in_play || @finished %>
    <tr>
      <th colspan="2">
        <%= t('.spectators', :spectators => number_with_delimiter(@match_general.spectators, :delimiter => '.')) %>
      </th>
    </tr>
    <% end %>
    <% if @in_play %>
    <tr>
      <th colspan="2">
          <%= t('minute', :minute =>  @match_general.minute.to_i.to_s) %>
        </th>
    </tr>
    <% end %>
  </thead>
</table>

<table class="table table-striped table-commentaries">
  <thead>
    <tr>
      <th>
      <%= t('.minute')%>
      </th>
      <th class="action">
      <%=t('.commentarie')%>
    </th>
    </tr>
  </thead>
  <tbody>
  <% if @finished  %>
  <tr>
    <td>
    <%= MatchGeneral::MINUTES%>
    </td>
    <td class="action">
    <%= image_tag('whistle.png') %>
    <%= t('action.end_match') %>
    </td>
  </tr>
  <% end %>
  <%= render :partial =>
  'commentarie', :collection => @second_time %>
  <% if @minute >=
  MatchGeneral::PARTS_TIME %>
  <tr>
    <td>
    <%=  MatchGeneral::PARTS_TIME %>
    </td>
    <td class="action">
    <%= image_tag('whistle.png') %>
    <%= t('action.half_time') %>
    </td>
  </tr>
  <% end %>
  <%= render :partial =>
     'commentarie', :collection => @first_time %>
  <% if @in_play || @finished %>
  <tr>
    <td>0</td>
    <td class="action">
    <%= image_tag('whistle.png') %>
    <%= t('action.start_match') %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>