<%= render "shared/error_messages", :target => @user_session %>
<div class="row">
	<div class="offset4 span4">
		<%= form_for @user_session, :url => user_session_path, :html => { :class => 'well' } do |f| %>
		<fieldset>
			<legend class="span3"><%= t('.header') %></legend class="span3">
			<div class="control-group span3">
				<%= f.label t('.login'), :class => 'control-label' %>
				<%= f.text_field :login, :class => 'span3' %>
			</div>
			<div class="control-group span3">
				<%= f.label t('.password'), :class =>'control-label' %>
				<%= f.password_field :password, :class => 'span3' %>
			</div>
			<div class="control-group span3">
				<label class="checkbox control-label">
				<%= f.check_box :remember_me %> <%= t('.remember_me') %>
				</label>
			</div>
			<div class="control-group span1 offset1">
				<%= f.submit t('.log_in'), :class => 'btn btn-success' %>
			</div>
			<% end %>
		</fieldset>
	</div>
</div>